
.container {

    display: flex;
    flex-direction: column;
    align-content: center;
}
input{
padding-left: 10px;
    border-radius: 5px;
    border: 1px solid  rgb(210, 88, 223);;
    margin-right: 10px;
}
button{
    background-color: rgb(210, 88, 223);
    font-family: emoji;
    font-size: large;
    border-radius: 5px
}
button:hover {
    background-color: #218838;
}

.header-title {
    align-self: center;
    font: 4em sans-serif;
    color: #000;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    justify-content: center;
}

li.completed {
    text-decoration: line-through;
    color: gray;
   
}
li {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    list-style: none;
}